<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="navbar">
      <p><a href="#">#</a></p>
      <p><a href="#">#</a></p>
      {% if request.user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Выйти</a></p>
      {% else %}
        <p><a href="{% url 'login_page' %}">Вы администратор?</a></p>
      {% endif %}
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
