<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="navbar">
      <p><a href="#">#</a></p>
      <p><a href="#">#</a></p>
      {% if request.user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Выйти</a></p>
        {% if request.user.is_superuser or request.user.is_moderator %}
          <p><a href="{% url 'quiz_create_page' %}">Создать опрос</a></p>
          <p><a href="{% url 'question_create_page' %}">Создать вопрос</a></p>
        {% endif %}
      {% else %}
        <p><a href="{% url 'login_page' %}">Вы администратор?</a></p>
        <p><a href="{% url 'answer_select_page' %}">Просмотреть ответы на опросы</a></p>
      {% endif %}
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
